* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background: url("../images/gradient-paw-prints-background_23-2151105471.avif");
    height:100vh;
    background-size: cover;
    background-position: center center;
}

#hero-1 {
    background-image: url("../images/anastacia-dvi-xeFf3Ekf8kc-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin-bottom: 100px;
    z-index: -1;
    }
    
    #hero-1 h2 {
    font-size: 72px;
    position: absolute;
    right: 7%;
    bottom: 80%;
    color: white;
    }
    
    #hero-1 h3 {
    font-size: 24px;
    position: absolute;
    right: 20%;
    bottom: 78%;
    color: white;
    }
    
    #hero-1 a {
    font-size: 14px;
    display: inline-block;
    background-color: BLACK;
    color: white;
    text-decoration: none;
    padding: 24px;
    position: absolute;
    right: 17%;
    bottom: 72%;
    }

    #background{
        font-size: 14px;
        display: inline-block;
        background-color: BLACK;
        color: white;
        text-decoration: none;
        padding: 10px;
        position: absolute;
        left: 34%;
        bottom: 15%;
        border-radius: 24px;
        }

#navbar {
    background: linear-gradient(to bottom, black,beige );
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar a:hover {
    background: linear-gradient(
        to top,
        beige,
        black
    );
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 12px;
    padding-bottom: 13px;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition:
    opacity 0.25s,
    visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: black;
    width:100%;
    min-width:200px;
}

#navbar.dropdown-menu a:hover {
    background: black;
}

.dog-1 h1 {
    font-size: 50px;
    color: black;
}

.dog-1 h3 {
    font-size: 19px;
    color: black;
}

#background-layout {
    background-color: beige;
    border-radius: 50px;
    padding: 15px 10px;
    max-width: 500px;
    margin: 24px auto;
    text-align: center;
}

.cat h1 {
    font-size: 50px;
    color: black;
}

.cat h3 {
    font-size: 19px;
    color: black;
}

