/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/

#pic1 {
    width: 100px;
    margin-top: 50px;
    border: 10px solid tan;
    padding: 8px;
    background-color: black;
    }


#pic2 {
    width: 100px;
    margin-top: 50px;
    border: 10px solid black;
    padding: 8px;
    background-color: gray;
    }

#pic3 {
    width: 100px;
    margin-top: 50px;
    border: 10px solid gray;
    padding: 8px;
    background-color: antiquewhite;
    }

