* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: skyblue;
    color: white;
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.logo {
    background-image: 
    url("../images/Screenshot_2025-05-06_194029-removebg-preview.png");
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

nav ul {
    list-style: none;
    display: flex;
    padding-left: 0px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: yellow;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

nav a:hover {
    background-color: black;
    color: yellow;
}

.hero {
    padding: 250px 150px;
    background-color: yellow;
    background-image: url("../images/andre-taissin-Sa_uh3r-Q5w-unsplash\ \(1\).jpg");
    background-size: cover;
    background-position: center center;
   
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
}

.hero h2 {
    font-size: 1.2em;
    margin-bottom: 45px;
    color: white;
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: yellow;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: black;
    color: yellow;
}

.button:hover {
    opacity: 0.5;
}

.button:active {
    border: 5px solid red;
}

main {
    padding: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: flex-start; 
    gap: 5px;
    height: fit-content;
    
}

.card {
    background-color: skyblue;
    border-radius: 10px;
    padding: 20px;
    width: 260px;
    text-align: center; 
    flex-direction: column;
    height: fit-content;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 5px; 
}

.card h2 {
    margin-top: 3px;
    margin-bottom: 15px;
}

.card p {
    margin-bottom: 8px;
    font-weight: bold;
}

.card a {
    background-color: black;
    color: yellow;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin: 8px;
}

.single-column {
    display: flex;
    align-items: center;
    width: 70vw;
    max-width: 1900px;
    margin-top: 0px;
    text-align: center;
    flex-direction: column;
}

.single-column img {
    width: 60%;
    height: 420px;
    border-radius: 30px 30px;
    margin-left: auto;
    object-fit: cover;
}

.entree h1 {
    font-size: 70px;
    margin-bottom: 10px;
    text-decoration: underline;
    text-align: center;
    margin-left: auto;
}

.entree h4 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    
}

.entree p {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.single-column {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 90px;
}

.menu-item {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    flex: 300px;
    box-sizing: border-box;
    display: column;
}

.menu-item img {
    max-width: 300px;
    height: 100px;
    border-radius: 5px;
    text-align: center;
}

.menu-item h3 {
    margin-top: 0;
    text-align: center;
    margin-top: auto;
}

.menu-item p {
    font-size: 24px;
    color: black;
    line-height: 1.0;
    text-align: center;

}
  
.price {
    font-weight: bold;
    color: black;
    text-align: center;
}

.footer {
    background-color: skyblue;
    color: yellow;
    padding: 24px;
    text-align: center;
    position: bottom;
    bottom: 0;
    width: 100%;
}