* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero {
    background-image: url("../images/photo-1639975721104-4d54b0d8c95e.avif");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

#hero h1 {
    color: white;
    background-color: black;
    border: 25px solid black;
    border-radius: 25px;
    font-size: 45px;
}

#layout h1 {
    text-align: center;
    font-size: 45px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 10px solid black;
    padding: 15px;
    gap: 15px;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}